@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');
@font-face{
  font-family: indie;
  src: url(indie.ttf);
}


:root{
  --primary: #1aac83;
  --error:#e7195a;
}
body{
  background-color: #ddd6d6;
  margin: 0;
  font-family: indie;
}
header{
  background: white;
}
header .container{
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px ;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a {
  color: #333;
  text-decoration: none;

}
.pages{
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}


.box{
  margin: 20px 0px;
  background-color: #f3f1ec;
  padding-left: 25px;
  padding-top: 5px;
}
.box h4{
  color: #1aac83;
}
nav{
  display: flex;
  align-items: center;
}
nav a{
  margin-left: 10px;
}
form.signup, form.login{
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  background: white;
  border-radius: 4px;
}





